body {
    background-color: #e7e6e6;
}

/* header */

.header {}

.header__nav {
    width: 90%;
    background-color: #bde4d1;
    padding: 15px;
    border-radius: 10px;
    gap: 20px;
}

.header__link {}

/* main */

/* section welcomingWords */

.welcome-section {}

.welcome-section__slider {
    height: 720px;
    width: 1360px;
    background-color: black;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
}

.welcome-section__slider>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.25s ease;
}

.welcome-section__slider>img.faded {
    opacity: 0;
}


.welcome-section__slider>div {
    position: absolute;
    top: 40%;
    left: 2%;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: #34a56f;
}

.welcome-section__slider-control {
    height: 100px;
    gap: 30px;
}

.welcome-section__pager {
    width: 50%;
    gap: 50px;
}

.welcome-section__slide {
    background-color: transparent;
    width: 300px;
    height: 90px;
    border: none;
    overflow: hidden;
}

.welcome-section__slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome-section__slide--active {
    border: 1px solid red !important;
}


/* Секция автоизации */


.authorization-section {}

.authorization-section__form {
    width: 60%;
    gap: 10px;
}

.authorization-section__link {}

/* section about */

.about-section {
    gap: 20px;
}

.about-section__container {
    width: 90%;
}

.about-section__container>div {
    flex: 1;
}

.about-section__container>img {
    flex: 1;
    max-width: 600px;
}

/* section featuresDemo */

.features-demo-section {}

.features-demo-section__container {
    width: 90%;
}

.features-demo-section__container>video {
    width: 800px;
    height: 600px;
}

/* section newBooks */

.new-books-section {
    gap: 20px;
}

.new-books-section__container {
    gap: 20px;
    width: 800px;
    flex-wrap: wrap;
}

.book {
    background-color: #34a56f;
    width: 200px;
    height: 500px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 10px;
}

.book__title {
    font-size: 12px;
}

.book__description {
    font-size: 12px;
    height: 100px;
    display: block;
    overflow: hidden;
}

.book>img {
    width: 90%;
}

.new-books-section__watch-all {
    width: 200px;
    height: 500px;
    padding: 10px;
}

/* section search book */

.search-section {}

.search-section__container {
    width: 90%;
}

/* section review */

.reviews-section {
    gap: 10px;
}

.reviews-section__container {
    width: 90%;
}


.reviews-section__list {
    width: 75%;
    height: 220px;
    overflow: hidden;
}

.review {
    width: 100%;
    transition: transform 0.1s ease;
    transform: translateX(0);
}

.rightSide {
    transition: transform 0.1s ease;
    transform: translateX(100%);
}

.leftSide {
    transition: transform 0.1s ease;
    transform: translateX(-100%);
}

.leftSide.normalize {
    transform: translateX(0) !important;
}

.rgihtSide.normalize {
    transform: translateX(0) !important;
}

.review.movedLeft {
    transform: translateX(-100%);
}

.review.movedRight {
    transform: translateX(100%);
}

.review__left_side {
    flex: 1;
    gap: 20px;
}

.review__left_side>img {
    width: 100px;
    height: 100px;
}

.review__right_side {
    flex: 4;
    padding: 10px 0;
    gap: 20px;
}

/* section news subscribe */

.news-subscribe-section {}

.news-subscribe-section__container {
    width: 300px;
    gap: 100px;
    background-color: #34a56f;
    border-radius: 50px;
    padding: 20px;
}

.news-subscribe-section__form {}


.news-subscribe-section__label {
    width: 250px;
}

.news-subscribe-section__checkbox {
    border-radius: 10px;
}


/* footer */

.footer {
    padding: 50px;
    background-color: #bde4d1;
}

.footer__container {
    width: 90%;
    padding: 0 50px
}

.footer__nav {
    gap: 20px;
}

.footer__nav-row {
    gap: 20px
}

.footer__link {}