@import url(./landingPage.css);
@import url(./header.css);

@import url(./footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e6e6;
}

.btn {
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.247);
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    box-shadow: 0px 0px 10px 10px rgba(34, 60, 80, 0.1);
}

.btn--small {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
}

.btn--medium {
    height: 25px;
    width: 150px;
}

a {
    color: #000;
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer;
}

a:hover {
    color: #28724f;
}


section {
    padding: 50px;
}

.input {
    background-color: #ffffffc0;
    border-radius: 10px;
    border: 1px solid #0000003f;
    padding: 10px 15px;
}

.input--small {
    width: 150px;
    height: 20px;
}

.input--medium {
    width: 250px;
    height: 30px;
}

.input--large {
    width: 80%;
    height: 30px;
}

.df {
    display: flex;
}

.jcc {
    justify-content: center;
}

.jca {
    justify-content: space-around;
}

.jce {
    justify-content: space-evenly;
}

.jcb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

.fc {
    flex-direction: column;
}

.gap20 {
    gap: 20px;
}